<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">

</head>

<body>
    <header>
       <div class="contenedor-logo">
        <div class="logo-busqueda">
            <div id="logo">
                <img src="/images/logo-mercado-liebre.svg" alt="Logo de tu tienda">
            </div>
    
            <div id="barra-busqueda">
    
                <input type="text" placeholder="Buscar productos">
                <button type="submit"><i class="fa-solid fa-magnifying-glass" style="color: #a0a0a7;"></i></button>
            </div>
        </div>

        <div id="compra-en-cuotas">
            <p><i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin tarjeta de crédito</p>
        </div>
       </div>

        <nav class="links">
            <ul>
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul>
                <li><a href="/register" class="link">Crea tu cuenta<i class="fa-regular fa-address-card"></i></a></li>
                <li><a href="/login">Ingresa <i class="fa-solid fa-right-to-bracket"></i></a></li>
                <li><a href="#">Mis compras<i class="fa-solid fa-basket-shopping"></i></a></li>

                <link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
            </ul>

        </nav>

        <div class="burger-menu"> <i class="fas fa-bars"></i>
        </div>
    </header>
    <div class="banner">
        <img src="/images/img-home-banner.jpg" alt="banner">
    </div>
    <main>
        <section id="basado-en-visita">
            <h2>Basado en tu última visita</h2>
            <div class="contenedor-productos">
                <div class="Cafetera prt">
                    <div class="producto">
                        <img src="/images/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex">
                    </div>
                    <div class="info-producto">
                        <div class="logo-envio">
                            <i class="fa-solid fa-truck"></i>
                        </div>
                        <div class="precio-descuento">
                            <div class="precio"> $6.770 </div>
    
                            <div class="descuento"> 40% off </div>
                        </div>
                        <div class="detalle-producto"> Cafetera Moulinex
                        </div>
                    </div>
                </div>
    
                <div class="MacBookPro prt">
                    <div class="producto">
                        <img src="/images/img-macbook-pro-2019.jpg"  alt="MacBook Pro">
                    </div>
    
                    <div class="info-producto">
                        <div class="logo-envio">
                            <i class="fa-solid fa-truck" style="color: #39b54a;"></i>
                        </div>
                        <div class="precio-descuento">
                            <div class="precio"> $230.000 </div>
                        <div class="descuento"> 20% off </div>
                        </div>
                        <div class="detalle-producto"> MacBook Pro 2019
                        </div>
                    </div>
                </div>
    
                <div class="SamsungGalaxy prt">
    
                    <div class="producto">
                        <img src="/images/img-samsung-galaxy-s10.jpg"  alt="SamsungGalaxy">
                    </div>
    
                    <div class="info-producto">
                        <div class="logo-envio">
                            <i class="fa-solid fa-truck" style="color: #39b54a;"></i>
                        </div>
                        <div class="precio-descuento">
                            <div class="precio"> $70.500 </div>
                            <div class="descuento"> 10% off </div>
                        </div>
                        <div class="detalle-producto"> Samsung Galaxy S10
                        </div>
                    </div>
                </div>
    
                <div class="SmartTv prt">
    
                    <div class="producto">
                        <img src="/images/img-tv-samsung-smart.jpg"  alt="SmartTv">
                    </div>
    
                    <div class="info-producto">
                        <div class="logo-envio">
                            <i class="fa-solid fa-truck" style="color: #39b54a;"></i>
                        </div>
                        <div class="precio-descuento">
                            <div class="precio"> $23.200 </div>
                            <div class="descuento"> 5% off </div>
                        </div>
                        <div class="detalle-producto"> SmartTv Samsung 43"
                        </div>
                    </div>
                </div>
            </div>

        </section>

        <section id="ofertas">
            <h2>Sección de Ofertas</h2>
            <div class="contenedor-productos">
                <div class="Cafetera prt">
                    <div class="producto">
                        <img src="/images/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex">
                    </div>
                    <div class="info-producto">
                        <div class="logo-envio">
                            <i class="fa-solid fa-truck"></i>
                        </div>
                        <div class="precio-descuento">
                            <div class="precio"> $6.770 </div>
    
                            <div class="descuento"> 40% off </div>
                        </div>
                        <div class="detalle-producto"> Cafetera Moulinex
                        </div>
                    </div>
                </div>
    
                <div class="MacBookPro prt">
                    <div class="producto">
                        <img src="/images/img-macbook-pro-2019.jpg"  alt="MacBook Pro">
                    </div>
    
                    <div class="info-producto">
                        <div class="logo-envio">
                            <i class="fa-solid fa-truck" style="color: #39b54a;"></i>
                        </div>
                        <div class="precio-descuento">
                            <div class="precio"> $230.000 </div>
                        <div class="descuento"> 20% off </div>
                        </div>
                        <div class="detalle-producto"> MacBook Pro 2019
                        </div>
                    </div>
                </div>
    
                <div class="SamsungGalaxy prt">
    
                    <div class="producto">
                        <img src="/images/img-samsung-galaxy-s10.jpg"  alt="SamsungGalaxy">
                    </div>
    
                    <div class="info-producto">
                        <div class="logo-envio">
                            <i class="fa-solid fa-truck" style="color: #39b54a;"></i>
                        </div>
                        <div class="precio-descuento">
                            <div class="precio"> $70.500 </div>
                            <div class="descuento"> 10% off </div>
                        </div>
                        <div class="detalle-producto"> Samsung Galaxy S10
                        </div>
                    </div>
                </div>
    
                <div class="SmartTv prt">
    
                    <div class="producto">
                        <img src="/images/img-tv-samsung-smart.jpg"  alt="SmartTv">
                    </div>
    
                    <div class="info-producto">
                        <div class="logo-envio">
                            <i class="fa-solid fa-truck" style="color: #39b54a;"></i>
                        </div>
                        <div class="precio-descuento">
                            <div class="precio"> $23.200 </div>
                            <div class="descuento"> 5% off </div>
                        </div>
                        <div class="detalle-producto"> SmartTv Samsung 43"
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <div class="info">
            <div id="pagos"> 
                <i class="fa-solid fa-credit-card"></i> 
                <h3>Pagá con tarjeta o en efectivo</h3>
                <p>Con Mercado Liebre Cash, tenés cuotas sin 
                    interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
            </div>
    
            <div id="envio-gratis">
                <i class="fa-solid fa-gift"></i> 
                <h3>Envío gratis desde $ 2.500</h3>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un
                    beneficio de Mercado Puntos.</p>
            </div>
    
            <div id="seguridad">
                <i class="fa-solid fa-user-shield"></i> 
                <h3>Seguridad de principio a fin</h3>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre,no hay nada que no puedas hacer, porque estás
                    siempre protegid@.</p>
            </div>
        </div>

        <div id="copyright">
            <p>Copyright &copy; 1999-2020 MercadoLiebre S.R.L.</p>
        </div>
    </footer>
</body>

</html>