<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="stylesheet" type="text/css" href="css/register.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">

</head>
<body>
    <header>
        <div class="contenedor-logo">
         <div class="logo-busqueda">
             <div id="logo">
                 <img src="/images/logo-mercado-liebre.svg" alt="Logo de tu tienda">
             </div>
     
             <div id="barra-busqueda">
     
                 <input type="text" placeholder="Buscar productos">
                 <button type="submit"><i class="fa-solid fa-magnifying-glass" style="color: #a0a0a7;"></i></button>
             </div>
         </div>
 
         <div id="compra-en-cuotas">
             <p><i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin tarjeta de crédito</p>
         </div>
        </div>
 
         <nav class="links">
             <ul>
                 <li><a href="#">Ofertas</a></li>
                 <li><a href="#">Tiendas Oficiales</a></li>
                 <li><a href="#">Vender</a></li>
                 <li><a href="#">Ayuda</a></li>
             </ul>
             <ul>
                 <li><a href="#">Crea tu cuenta<i class="fa-regular fa-address-card"></i></a></li>
                 <li><a href="#">Ingresa <i class="fa-solid fa-right-to-bracket"></i></a></li>
                 <li><a href="#">Mis compras<i class="fa-solid fa-basket-shopping"></i></a></li>
 
                 <link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
             </ul>
 
         </nav>
 
         <div class="burger-menu"> <i class="fas fa-bars"></i>
         </div>
     </header>


    <main>

        <form>
            <div class="info-registro">
               <div class="type">
                <input type="text" placeholder="Nombre y Apellido" />
                <input type="text" placeholder="Nombre de Usuario" />
                <input type="email" placeholder="E-mail" />
                <input type="password" placeholder="Contraseña" />
                <input type="password" placeholder="Repite tu contraseña" />
               </div>
            </div>

            

            <div class="fecha-nacimiento">
                <h3>Fecha de nacimiento</h3>
                <input type="date">
            </div>




           <div class="perfil-usuario">
            <div class="radio-usuario">
                <h3>Perfil de Usuario</h3>
            <div class="circulito">
                <input type="radio" name="perfil">Comprador 
                <input type="radio" name="perfil">Vendedor
            </div>
            </div>
           </div>


            <div class="check-intereses">
                <div class="marcar-intereses">
                    <h4>Intereses</h4>
                </div>

                <div class="check-check"> 
                    <input type="checkbox" >Electro
                    <input type="checkbox" >Moda
                    <input type="checkbox" >Hogar
                    <input type="checkbox" >Jugueteria
                    <input type="checkbox" >Vida sana
                </div>

            </div>


            <div class="boton-ingresar"> 
                <a href="/">Enviar</a>
            </div>


          </form>



    </main>




    <footer>
        <div class="info">
            <div id="pagos"> 
                <i class="fa-solid fa-credit-card"></i> 
                <h3>Pagá con tarjeta o en efectivo</h3>
                <p>Con Mercado Liebre Cash, tenés cuotas sin 
                    interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
            </div>
    
            <div id="envio-gratis">
                <i class="fa-solid fa-gift"></i> 
                <h3>Envío gratis desde $ 2.500</h3>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un
                    beneficio de Mercado Puntos.</p>
            </div>
    
            <div id="seguridad">
                <i class="fa-solid fa-user-shield"></i> 
                <h3>Seguridad de principio a fin</h3>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre,no hay nada que no puedas hacer, porque estás
                    siempre protegid@.</p>
            </div>
        </div>

        <div id="copyright">
            <p>Copyright &copy; 1999-2020 MercadoLiebre S.R.L.</p>
        </div>
    </footer>
</body>